.contract_table_create_row {
  background: var(--primary-white);

  td {
    position: relative;
    padding: $offsetA $offsetD;

    .arrow {
      display: block;
      font-size: rem(12);
      margin-top: rem(5);
      margin-left: rem(3);
      transition: transform $speed-fast ease-in-out;
      transform-origin: center;

      &.open {
        transform: rotate(180deg);
      }
    }

    .save_icon {
      display: block;
      margin-top: $offsetA;
      cursor: pointer;
    }

    .calendar_wrapper {
      position: absolute;
      z-index: 2;
    }

    .err_message {
      color: var(--primary-red);
      font-size: rem(14);
      display: block;
      margin-top: $offsetA;
      height: rem(0);
    }

  }
}
