.contract_table_column {
  th {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(20);
      height: rem(20);
      border-radius: 4px;
      font-size: rem(20);
      margin-top: rem(2);
      cursor: pointer;

      &:hover {
        background: var(--primary-silver);
      }
    }
  }
}
