.main_button {
    background: linear-gradient(var(--primary-white), var(--primary-silver) 100%);
    border-radius: 5px;
    margin: $offsetA 0;
    padding: $offsetB $offsetD;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);

    &:hover:enabled {
        cursor: pointer;
        background: var(--primary-silver);
    }
}
