.contract_table_row {
  background: white;
  transition: background $speed-fast ease-in-out;

  &:hover {
    cursor: pointer;
    background: var(--primary-silver)
  }
  td {
    position: relative;
    padding: $offsetA $offsetD;

    .arrow {
      display: block;
      font-size: rem(12);
      margin-top: rem(5);
      margin-left: rem(3);
      transition: transform $speed-fast ease-in-out;
      transform-origin: center;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &.collapse {
    cursor: unset;
    background: var(--primary-silver);

    td {
      padding: $offsetA;
    }

    .err_message {
      color: var(--primary-red);
      font-size: rem(14);
      display: block;
      margin-top: $offsetA;
      height: rem(0);
    }

    input {
      background: var(--primary-white);
      padding: $offsetA;
      border-radius: 4px;
    }

    .calendar_wrapper {
      position: absolute;
    }
  }
}
