#home-page {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    color: var(--primary-white);
  }

  .contracts_table {
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    //overflow: hidden;

    th {
      text-align: left;
      border-bottom: 1px solid var(--primary-silver);
    }

    th{
      padding: $offsetA $offsetD;
    }
  }
}
